[submodule "external/ohmyzsh"]
	path = external/ohmyzsh
    url = https://github.com/ohmyzsh/ohmyzsh.git
    shallow = true
[submodule "external/powerlevel10k"]
    path = external/powerlevel10k
    url = https://github.com/romkatv/powerlevel10k.git
    shallow = true
[submodule "external/zsh-async"]
    path = external/zsh-async
    url = https://github.com/mafredri/zsh-async.git
    shallow = true
[submodule "external/fast-syntax-highlighting"]
    path = external/fast-syntax-highlighting
    url = https://github.com/zdharma-continuum/fast-syntax-highlighting.git
    shallow = true
[submodule "external/zsh-autosuggestions"]
    path = external/zsh-autosuggestions
    url = https://github.com/zsh-users/zsh-autosuggestions.git
    shallow = true
